# version: '3.3'

volumes:
  postgres_data_prodaction:
  static_value_prodaction:
  media_value_prodaction:
  frontend_value_prodaction:

services:
  db:
    image: postgres:13.10
    volumes:
      - postgres_data_prodaction:/var/lib/postgresql/data/
      # - ../data:/data
    env_file:
      - .env

  backend:
    image: avanslov/foodgram_backend
    volumes:
      - static_value_prodaction:/code/static/
      - media_value_prodaction:/code/media/
    depends_on:
      - db
    env_file:
      - .env

  frontend:
    env_file:
      - .env
    image: avanslov/foodgram_frontend
    volumes:
      - frontend_value_prodaction:/app/result_build/
    depends_on:
      - backend
  nginx:
    env_file:
      - .env
    image: nginx:1.19.3
    ports:
      - 8000:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - frontend_value_prodaction:/usr/share/nginx/html/
      - static_value_prodaction:/var/html/static/
      - media_value_prodaction:/var/html/media/
      # - ./docs/:/usr/share/nginx/html/api/docs/
    depends_on:
      - backend
      - frontend

